# .github/workflows/ci.yml
# GitHub Actions documentation => https://docs.github.com/en/actions

name: CI with Gradle

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  gradle:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
         fetch-depth: 1  

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew build

